{% load static %}
    
    <!-- footer -->
    <footer class=" footer mt-auto bg-light text-center text-white border border-top border-dark">
        <div class="container pt-2">
            <!-- Section: Social media -->
            <div class="mb-3">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com"
                    aria-label="Link to Facebook" target="_blank" rel="noopener" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.Twitter.com"
                    aria-label="Link to Twitter" target="_blank" rel="noopener" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.Instagram.com"
                    aria-label="Link to Instragram" target="_blank" rel="noopener" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com"
                    aria-label="Link to Linkedin" target="_blank" rel="noopener" role="button"><i
                        class="fab fa-linkedin"></i></a>
            </div>
            <!-- Section: Social media -->
        </div>

        <!-- Copyright -->
        <div class="copyright text-center text-dark p-2">
            <p>Copyright &copy;
                <span id="copyright"></span><a class="text-dark" href="https://github.com/andyk8872" target="_blank"
                    rel="noopener"> Andrew Kennedy</a>
            </p>
        </div>
        <!-- Copyright -->
    </footer>