{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <!-- <div class="col-12 col-md-6"> -->
            <div class="col-md-4 mt-3 mb-3 offset-md-4">
            <hr>


            <h5 class="text-muted">Add a Review</h5>
            <form method="POST" action="{% url 'add_review' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">user:</label>
                    <input type="text" class="form-control" id="user" name="user" value="{{ request.user.username }}"
                        disabled>
                </div>
                <div class="form-group">
                    <label for="review">Review*</label>
                    <textarea class="form-control" id="review" rows="3" name="review"></textarea>
                </div>
                <div class="form-group">
                    <label for="product">Product:</label>
                    <input type="text" class="form-control" id="product" value="{{ product.name }}" name="product"
                        disabled>
                </div>
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="">Cancel</a>
                    <button class="btn btn-danger rounded-0" type="submit">Add Review</button>
                </div>
            </form>

        </div>
    </div>
    {% endblock %}